.navbar-light .navbar-brand {
    color: purple;
}

.jumbotron {
  background-image: url(dumpling2.jpg);
  height: 700px;
}

.jumbotron img {
  height: 250px;
}

.jumbotron h1 {
  color: blue;
}

h1 {
  color: #FFC107;
}
